@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
:root {
  --darkColor: #060a0f;
  --lightColor: #ffffff;
  --sugerColor: #f9f9f9;
  --darkColorOpacity: rgba(6, 10, 15, 0.7);
  --activeLink: #de3932;
  --activeLinkShadow: drop-shadow(0 0 9px #de3932);
  --inputNotActive: rgba(217, 217, 217, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Almarai", sans-serif;
}

html,
body {
  direction: rtl;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
